<html>
<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset="utf-8"> -->
	<meta charset="utf-8">
  <meta name=”viewport” content="width=device-width, height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- old -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/main.css">
	<!-- JQuery -->
	<script src="static/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" href="static/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="static/bootstrap-theme.min.css"> -->
	<!-- <script src="static/bootstrap.min.js"></script> -->
	<!-- Brat -->
	<link rel="stylesheet" type="text/css" href="static/style-vis.css">
	<script type="text/javascript" src="static/head.load.min.js"></script>
	<!-- d3 -->
	<script type="text/javascript" src="static/d3.min.js"></script>
	<script type="text/javascript" src="static/dagre-d3.min.js"></script>
	<!-- CoreNLP -->
	<link rel="stylesheet" type="text/css" href="static/corenlp-brat.css">
	<!-- <script type="text/javascript" src="static/corenlp-brat.js"></script> -->
	
	<!-- others -->
	<script type="text/javascript" src="static/jquery.svg.min.js"></script>
	<script type="text/javascript" src="static/jquery.svgdom.min.js"></script>
	<script type="text/javascript" src="static/configuration.js"></script>
	<script type="text/javascript" src="static/util.js"></script>
	<script type="text/javascript" src="static/annotation_log.js"></script>
	<script type="text/javascript" src="static/webfont.js"></script>
	<script type="text/javascript" src="static/dispatcher.js"></script>
	<script type="text/javascript" src="static/url_monitor.js"></script>
	<script type="text/javascript" src="static/visualizer.js"></script>
	
	<title>THUParser</title>
	<style type="text/css">  
	/*.comments {  
	 width:100%;
	 overflow:auto;  
	 word-break:break-all;  
	}*/
  #wapper{  
    position: relative;   /*重要！保证footer是相对于wapper位置绝对*/  
    height: auto;          /* 保证页面能撑开浏览器高度时显示正常*/  
    min-height: 100%  /* IE6不支持，IE6要单独配置*/  
	}  
  #main-content{  
     padding-bottom: 150px; /*重要！给footer预留的空间*/  
  }  
  #SectionUnderGround {
        background-color: rgba(238, 238, 238, 0.55);
        /*position: relative;*/
        position:absolute;
        bottom:0px;
        left:0px;
        width: 100%;
        height: 150px;   /* footer的高度一定要是固定值*/
  }
  .FooterInfoArea {
        /*position: relative;*/
        /*width: 981px;*/
        margin: 0 auto 0 auto;
        height: auto;
        text-align: center;
        padding: 10px 0 10px 0;
  }

  #FooterLinks {
        text-align: left;
        font-size: 13px;
  }
  #FooterLinks a,
  #FooterLinks span {
      color: #5a5a5a;
      padding: 0 4px 0 4px;
  }

  #FooterLinks a:visited {
      color: #5a5a5a;
  }

	</style> 
</head>
	
<body>


<div id="wapper">
<div class="container">
  <div id="main-content">
    <h2>THUParser：汉语句法分析工具包 </h2>
	<br/><br/>

	<form method="post" class="form-inline"> 
		<input id="sentence" type="text" style="width:60%"  name="sentence" class="form-control" placeholder="请输入一个中文句子。">
		<button id="draw" class="btn btn-primary" type="submit" >Parse</button>
	</form>

	<!-- Annotation population area -->
    <div id="annotations" >
    </div>
    <br />
    <!-- Tag Explanation -->
    <div id="TagExplain" >
    </div>
    <br />
    <!-- Dependency Explanation -->
    <div id="DependencyExplain" >
    </div>
  </div>
    </div>
  <!-- Footer -->
	<div id="SectionUnderGround">
    <div class="FooterInfoArea">
        <img src="static/images/erwei_logo.png" height="92" width="100" />
        <img src="static/images/new_logo.png" height="92" width="100" />
        <img src="static/images/thuparser.png" height="92" width="100" />
    </div>
    <div class="FooterInfoArea">
        <span id="FooterLinks">
            <span>© 2020 THUNLP 版权所有</span>|<a href="" target="_blank">关于我们 </a>|<a>关于系统</a>
        </span>
    </div>
  </div>
	
</div>
<script type="text/javascript">

var currentQuery = 'The quick brown fox jumped over the lazy dog.';
var currentSentences = '';
var currentText = '';

// ----------------------------------------------------------------------------
// HELPERS
// ----------------------------------------------------------------------------

/**
 * Add the startsWith function to the String class
 */
if (typeof String.prototype.startsWith != 'function') {
  // see below for better implementation!
  String.prototype.startsWith = function (str){
    return this.indexOf(str) === 0;
  };
}

/**
 * A reverse map of PTB tokens to their original gloss
 */
var tokensMap = {
  '-LRB-': '(',
  '-RRB-': ')',
  '-LSB-': '[',
  '-RSB-': ']',
  '-LCB-': '{',
  '-RCB-': '}',
  '``': '"',
  '\'\'': '"',
};

/**
 * A mapping from part of speech tag to the associated
 * visualization color
 */
function posColor(posTag) {
  if (posTag.startsWith('N')) {
    return '#A4BCED';
  } else if (posTag.startsWith('V') || posTag.startsWith('M')) {
    return '#ADF6A2';
  } else if (posTag.startsWith('P')) {
    return '#CCDAF6';
  } else if (posTag.startsWith('I')) {
    return '#FFE8BE';
  } else if (posTag.startsWith('R') || posTag.startsWith('W')) {
    return '#FFFDA8';
  } else if (posTag.startsWith('D') || posTag == 'CD') {
    return '#CCADF6';
  } else if (posTag.startsWith('J')) {
    return '#FFFDA8';
  } else if (posTag.startsWith('T')) {
    return '#FFE8BE';
  } else if (posTag.startsWith('E') || posTag.startsWith('S')) {
    return '#E4CBF6';
  } else if (posTag.startsWith('CC')) {
    return '#FFFFFF';
  } else if (posTag == 'LS' || posTag == 'FW') {
    return '#FFFFFF';
  } else {
    return '#E3E3E3';
  }
}

// ----------------------------------------------------------------------------
// RENDER
// ----------------------------------------------------------------------------

/**
 * Render a given JSON data structure
 */
function render(data) {

  // Error checks
  if (typeof data.sentences === 'undefined') { return; }

  /**
   * Register an entity type (a tag) for Brat
   */
  var entityTypesSet = {};
  var entityTypes = [];
  
  function addEntityType(name, type, coarseType) {
    if (typeof coarseType === "undefined") {
      coarseType = type;
    }
    // Don't add duplicates
    if (entityTypesSet[type]) return;
    entityTypesSet[type] = true;
    
	// Get the color of the entity type
    color = '#ffccaa';
    if (name == 'POS') {
      color = posColor(type);
    }
	
    // Register the type
    entityTypes.push({
      type: type,
      labels : [type],
      bgColor: color,
      borderColor: 'darken'
    });
  }

  /**
   * Register a relation type (an arc) for Brat
   */
  var relationTypesSet = {};
  var relationTypes = [];
  function addRelationType(type, symmetricEdge) {
    // Prevent adding duplicates
    if (relationTypesSet[type]) return;
    relationTypesSet[type] = true;
    // Default arguments
    if (typeof symmetricEdge === 'undefined') { symmetricEdge = false; }
    // Add the type
    relationTypes.push({
      type: type,
      labels: [type],
      dashArray: (symmetricEdge ? '3,3' : undefined),
      arrowHead: (symmetricEdge ? 'none' : undefined),
    });
  }

  //
  // Construct text of annotation
  //
  currentText = [];  // GLOBAL
  currentSentences = data.sentences;  // GLOBAL
  data.sentences.forEach(function(sentence) {
    for (var i = 0; i < sentence.tokens.length; ++i) {
      var token = sentence.tokens[i];
      var word = token.word;
      if (!(typeof tokensMap[word] === "undefined")) {
        word = tokensMap[word];
      }
      if (i > 0) { currentText.push(' '); }
      token.characterOffsetBegin = currentText.length;
      for (var j = 0; j < word.length; ++j) {
        currentText.push(word[j]);
      }
      token.characterOffsetEnd = currentText.length;
    }
    currentText.push('\n');
  });
  currentText = currentText.join('');

  //
  // Shared variables
  // These are what we'll render in BRAT
  //
  // (pos)
  var posEntities = [];
  
  // (dependencies)
  var depsRelations = [];
  var deps2Relations = [];

  //
  // Loop over sentences.
  // This fills in the variables above.
  //
  for (var sentI = 0; sentI < data.sentences.length; ++sentI) {
    var sentence = data.sentences[sentI];
    var index = sentence.index;
    var tokens = sentence.tokens;
    var deps = sentence['basicDependencies'];

    // POS tags
    /**
     * Generate a POS tagged token id
     */
    function posID(i) {
      return 'POS_' + sentI + '_' + i;
    }
    if (tokens.length > 0 && typeof tokens[0].pos !== 'undefined') {
      for (var i = 0; i < tokens.length; i++) {
        var token = tokens[i];
        var pos = token.pos;
        var begin = parseInt(token.characterOffsetBegin);
        var end = parseInt(token.characterOffsetEnd);
        addEntityType('POS', pos);
        posEntities.push([posID(i), pos, [[begin, end]]]);
      }
    }

    
    // Dependency parsing
    /**
     * Process a dependency tree from JSON to Brat relations
     */
    function processDeps(name, deps) {
      var relations = [];
      // Format: [${ID}, ${TYPE}, [[${ARGNAME}, ${TARGET}], [${ARGNAME}, ${TARGET}]]]
      for (var i = 0; i < deps.length; i++) {
        var dep = deps[i];
        var governor = dep.governor - 1;
        var dependent = dep.dependent - 1;
        if (governor == -1) continue;
        addRelationType(dep.dep);
        relations.push([name + '_' + sentI + '_' + i, dep.dep, [['governor', posID(governor)], ['dependent', posID(dependent)]]]);
      }
      return relations;
    }
    // Actually add the dependencies
    if (typeof deps !== 'undefined') {
      depsRelations = depsRelations.concat(processDeps('dep', deps));
    }

  }  // End sentence loop

  //
  // Actually render the elements
  //

  /**
   * Helper function to render a given set of entities / relations
   * to a Div, if it exists.
   */
  function embed(container, entities, relations) {
    var text = currentText;
    if ($('#' + container).length > 0) {
      Util.embed(container,
                 {entity_types: entityTypes, relation_types: relationTypes},
                 {text: text, entities: entities, relations: relations}
                );
    }
  }

  // Render each annotation
  head.ready(function() {
    embed('deps', posEntities, depsRelations);
  });

}  // End render function



// ----------------------------------------------------------------------------
// MAIN
// ----------------------------------------------------------------------------

/**
 * MAIN()
 *
 * The entry point of the page
 */
$(document).ready(function() {

  // Submit on clicking the 'Parse' button
	$('#draw').click(function() {
		// Get the text to annotate
		var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};  
		currentQuery = $('#sentence').val();
		currentQuery=currentQuery.trim();
		if (currentQuery == '') {
      return false; // 如果为空串则无反应
      // currentQuery = '请输入一个中文句子。';
		}
		$('#sentence').val(currentQuery);
		// Update the UI
		// $('#draw').prop('disabled', true);
		// $('#annotations').hide();
		//$('#loading').show();
		// $('#draw').prop('disabled', false);
		$.ajax({
			type: 'POST',
			url: $SCRIPT_ROOT,
			data: {'sentence':currentQuery}, //jQuery doesn't automatically URI encode strings
			dataType: 'json', //json格式的数据
			contentType: "application/x-www-form-urlencoded;charset=UTF-8",
			success : function (data) {
				$('#draw').prop('disabled', false);				
				if (typeof data === 'undefined' || data.sentences == undefined) {
				  alert("Failed to reach server!");
				} else {
				  // Empty divs
				  $('#annotations').empty();
          $('#TagExplain').empty();
          $('#DependencyExplain').empty();
				  // Re-render divs
				  function createAnnotationDiv(id, selector, label) {
					// (make sure the data contains that element)
					ok = false;
					if (typeof data[selector] !== 'undefined') {
					  ok = true;
					} else if (typeof data.sentences !== 'undefined' && data.sentences.length > 0) {
					  if (typeof data.sentences[0][selector] !== 'undefined') {
						ok = true;
					  } else if (typeof data.sentences[0].tokens != 'undefined' && data.sentences[0].tokens.length > 0) {
						ok = (typeof data.sentences[0].tokens[0][selector] !== 'undefined');
					  }
					}
					// (render the element)
					if (ok) {
					  $('#annotations').append('<div id="' + id + '"></div>');
					  //$('#annotations').append('<h4>' + label + ':</h4> <div id="' + id + '"></div>');
					  //$('#annotations').append('<br><h4> CoNLL Data: </h4>'); 
					  //$('#annotations').append('<textarea id="data" readonly="1" class="comments" rows="5" cols="120">'+data.Conll_data+'</textarea>');
            $('#TagExplain').append('<h4>词性解释</h4>')
            $('#TagExplain').append('<pre><code>AD/副词 AS/体标记 BA/“把”字结构中的“把” CC/并列连词 CD/基数词 CS/从句连词 DEC/从句中的“的” DEG/起关联作用的“的”' + '\n'+'DER/连接补语的“得” DEV/连接壮语的“地”  DT/指示代词 ETC/“等、等等” FW/外来词 IJ/叹词 JJ/形容词 LB/“被”字结构中的“被”(与动词不相邻)' + '\n'+ 'LC/方位词 M/量词 MSP/其他助词 NN/普通名词 NR/专有名词 NT/时间词 OD/序数词 ON/拟声词 P/“被、把”之外的介词 PN/代词 PU/标点符号'+'\n'+'SB/“被”字结构中的“被”(与动词相邻) SP/句尾助词,如“呢、吗”等 VA/谓词性形容词 VC/“是” VE/作为主要动词的“有” VV/其他动词 </code></pre>');            
            $('#DependencyExplain').append('<h4>依存关系解释</h4>')
	         $('#DependencyExplain').append('<pre><code>acl/名词的从句修饰语 advcl/副词性从句修饰语 advmod/副词修饰语 amod/形容词修饰语 appos/同位语修饰语'+'\n'+'aux/助动词 case/格标记 cc/并列连词 ccomp/从句补语 compound/复合词 conj/连词 cop/系词 csubj/从句主语'+'\n'+'dep/未指定的依赖 det/限定词 discourse/篇章元素 iobj/间接宾语 list/列表 mark/标记 nmod/名词修饰语'+'\n'+'nsubj/名词性主语 nummod/数词 obj/宾语 obl/间接名词  parataxis/并列句 punct/标点符号 xcomp/开放从句补语</code></pre>')
					}
				  }
				  // (create the divs)
				  //                  div id      field_in_data                          label
				  createAnnotationDiv('deps',     'basicDependencies',                   'Dependencies'      );

				  // Update UI
				  //$('#loading').hide();
          $('#sentence').val(data.sentence_get);
				  $('#annotations').show();
          $('#TagExplain').show();
          $('#DependencyExplain').show();
				  // Render
				  render(data);
				}                
			},
			error: function( XMLResponse ) {   // 这个函数是干吗的？
				alert( XMLResponse.responseText )  
			}
		}); //end of ajax
		event.preventDefault(); //这句话很重要？
		event.stopPropagation();
		return false;
	});  // end of click function
}); // end of ready 
</script>


</body>
			
</html>
